.music-card {
    background-image: url(../../assets/MusicCard/cityBackround.jpg) !important;
    width:  100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-card {
        height: 600px;
        width: 300px;
        background: white;
        border-radius: 30px;
        border: 1px solid rgb(29, 26, 26);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .header {
            display: flex;
            justify-content: space-evenly;
            width: 500px;
            margin-top: 25px;

            .botao-topo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 100%;
                width: 30px;
                height: 30px;

            }
        }


        .imagem-musica {
            width: 200px;
            height: 200px;
            margin-top: 40px;
            border-radius: 15px;
            display: flex;
            justify-content: center;

            img {
                height: 100%;
                width: 100%;
                border-radius: 100%;
                border: 12px solid #e1dede;
            }
        }

        .infos {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            text-align: center;
        }

        .music-spinner {
            margin-top: 40px;
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            progress {
                margin: 15px;
                width: 100% !important;
                height: 22px;
            }

            progress::-webkit-progress-bar {
                background-color: yellow;
                border-radius: 7px;
            }

            progress::-webkit-progress-value {
                background-color: #514c58;
                border-radius: 7px;

            }

            progress::-moz-progress-bar {
                /* style rules */
            }


        }

        .footer {
            margin-top: 60px;
            display: flex;
            align-items: center;


            .botao-lateral {
                border-radius: 100%;
                width: 25px;
                height: 25px;

                &.repetir {
                    margin-right: 15px;
                }

                &.aleatorio {
                    margin-left: 15px;
                }

                .inactive {
                    color: #484948;
                }

                .active {
                    color: #00ff95;
                    ;
                }
            }

            .container-botoes {
                display: flex;

                .botao-footer {
                    display: flex;
                    justify-content: center;
                    border-radius: 100%;
                    width: 50px;
                    height: 50px;
                    background-color: #00ff95;
                    align-items: center;

                    mat-icon {
                        transform: scale(1.3);
                    }

                }

                .change-music {
                    background-color: #514c58 !important;
                }

                .play {
                    margin: 0 15px;
                }
            }

        }


    }
}